
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.logo {
    background-color: aqua;
    border-radius: 20px;
    padding: 2em;

    grid-column: 2/3;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color:  brown;
    border-radius: 20px;
    padding: 2em;
}
